.post-toc {
  position: relative;
}

.post-toc {
  display: block;
}

.post-toc .toc-wrap {
  position: absolute;
  top: 110px;
  left: 100%;
  width: 290px;
}

.post-toc .toc-wrap .toc {
  position: fixed;
  font-size: 0.95rem;
  margin-left: 5rem;
  padding-left: 1rem;
  border-left: 3px solid #ececec;
}

@media (max-width: 1440px) {
  .post-toc .toc-wrap .toc {
    margin-left: 3rem;
  }
}

.post-toc .toc-wrap .toc ul {
  list-style: none;
}

.post-toc .toc-wrap .toc li > ul {
  margin-left: var(--spacing-6);
  margin-top: calc(var(--spacing-6) / 2);
}
