.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  align-items: center;
}

.profileImage {
  border-radius: 9999px;
  background-color: #D4E6F1;
  margin-right: 1rem;
}

.profileName {
  margin: 1rem 0 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.profileSumary {
  margin: 0 0 1rem 1rem;
  margin-left: 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}
